
.BookingCalendar.hidden--mobile
  .BookingCalendar-header
    %a.BookingCalendar-nav.BookingCalendar-nav--prev{href: "#"}
    %strong.BookingCalendar-currentMonth
    %a.BookingCalendar-nav.BookingCalendar-nav--next{href: "#"}

  %table.BookingCalendar-dates
    %thead
      %tr
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
        %th Sun

  .BookingCalendar-mask
    %table.BookingCalendar-dates
      %tbody.BookingCalendar-datesBody
