
.DateSlider.visible--mobile(data-selectonload="true")
  .DateSlider-month
  .DateSlider-sliders
    %a.DateSlider-button.DateSlider-buttonLeft{href: "#"} ❮
    %a.DateSlider-button.DateSlider-buttonRight{href: "#"} ❯
    .DateSlider-smallDates.scroll
      %ol.DateSlider-days
    .DateSlider-touch.scroll
      %ol.DateSlider-days
    .DateSlider-portalFrame
    .DateSlider-largeDates.scroll
      %ol.DateSlider-days
