
%ul.BookingCalendar-legend
  %li
    .BookingCalendar-legendBox.BookingCalendar-legendBox--available
    %p.BookingCalendar-legendDesc Visit days
  %li
    .BookingCalendar-legendBox.BookingCalendar-legendBox--unavailable
    %p.BookingCalendar-legendDesc Non-visit days
